<% provide(:title, 'API')%>
<div class="center hero-unit">
  <h2>Welcome to the Animal Diversity Web API</h2>

  <h4>
    Our API allows access to ADW data elements, though we recommend building a collection of elements using our collection builder page.
  </h4>

  <%= link_to "collection-builder page", '#', class: "btn btn-large btn-primary" %>
</div>