<% provide(:title, 'Collection Builder')%>
<div class="center hero-unit">
  <h1>Welcome to the Animal Diversity Web Collection Builder</h1>

  <h2>
    On this page you can build a collection of ADW data to export. <br> This is particulalry useful if you are bulding an ADW-powered web or mobile app.
  </h2>
  <p>For now I'm going to put some random crap that does some DB read-writes here.</p>
  <p>I'm not sure how nice this text looks. :-)</p>
</div>
