<footer class="footer">
	<div class="inner-footer">
		<div class="footer-links">
			<ul class="unstyled">
				<li>
					<a href="http://www.umich.edu/">U-M Gateway</a> | <a href="http://www.lsa.umich.edu/ummz/">U-M Museum of Zoology</a>
				</li>
				<li>
					<a href="http://www.lsa.umich.edu/eeb/">U-M Ecology and Evolutionary Biology</a>
				</li>
				<li>
					© 2012 Regents of the University of Michigan
				</li>
				<li>
					<a href="/feedback/error_form/">Report Error</a> / <a href="/feedback/comment_form/">Comment</a>
				</li>
			</ul>
		</div>
		<div class="thanks-links">
			<p>
				This material is based upon work supported by the <a href="http://nsf.gov">National Science Foundation</a>
				under Grants DUE-0633095 and DRL-0628151.
			</p>
			<p>
				The ADW Team gratefully acknowledges their support.
			</p>
		</div>
	</div>
</footer>